<h1><u>All Studios and Movies</u></h1>

<% @studios.each do |studio| %>
  <h2><u><%= "#{studio.name} - #{studio.location}"%></u></h2>
  <% studio.movies.each do |movie| %>
    <li><%= movie.concat_movie_details %></li>
  <% end %>
<% end %>
