<% @studios.each do |studio| %>
  <section id="<%= studio.id %>">
    <%= studio.name %></br>
    <%= studio.location %></br>
    <% studio.list_movies_details.each do |movie_details| %>
      <%= movie_details %></br>
    <% end %></br>
  </section>
<% end %>